* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

section {
  margin-bottom: 75px;
}

.section-title {
  font-size: 1.8rem;
  padding: 15px 0;
  width: 100%;
  text-align: left;
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 30%;
  border-bottom: 2px dotted black;
}

.link {
  color: black;
}

p {
  padding: 5px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 16px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu__link:hover {
  color: #ffad33;
}

.header {
  width: 100%;
  height: 450px;
  position: relative;
}

.header__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.header__text {
  font-size: 5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffad33;
  opacity: .9;
  letter-spacing: 1px;
}

.header__text--small {
  font-size: 1.5rem;
  top: 32%;
  color: #0c0c0c;
}

.cta {
  padding: 20px;
  text-align: center;
}

.cta__text {
  padding: 20px 0;
  font-size: 1.6rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: -webkit-gradient(linear, right top, left top, color-stop(14%, #FFC53D), color-stop(68.5%, #FF9A3D));
  background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
  color: black;
  margin: 0 20px;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  min-width: 100px;
}

.btn:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  -webkit-transform: translate(-4px, 4px);
          transform: translate(-4px, 4px);
  border: 1.4px solid black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border: 1.6px solid black;
}

.btn--blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#3399ff), to(#80bfff));
  background-image: linear-gradient(to right, #3399ff, #80bfff);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.about-me__metric-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  line-height: 175%;
}

.about-me__photo {
  width: 10%;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.about-me__metric {
  width: 20%;
  padding-right: 10px;
  border-right: 2px dotted #ffad33;
}

.about-me__data {
  font-weight: 700;
}

.about-me__data--orange {
  color: #ffad33;
}

.about-me__description {
  width: 60%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skill-box {
  background-color: #ffad33;
  margin: 20px;
  padding: 20px;
  width: 25%;
  text-align: center;
  position: relative;
}

.skill-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  border: 2px solid black;
}

.skill-box__icon {
  font-size: 5rem;
}

.skill-box__title {
  font-size: 1.5rem;
  padding: 10px;
}

.skill-box__description {
  font-size: 1rem;
  font-style: italic;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-box {
  padding: 20px 0;
  text-align: center;
}

.portfolio-box__title {
  font-size: 1.3rem;
  padding: 5px 0;
}

.portfolio-box__description {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-style: italic;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__leftbar {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.1rem;
}

.contact__description {
  color: #ffad33;
  font-weight: bold;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon {
  font-size: 1.9rem;
  padding: 0 10px;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.social__icon--tw:hover {
  color: #38A1F3;
}

.social__icon--ln:hover {
  color: #0077B5;
}

.social__icon--insta:hover {
  color: #ffad33;
}

.social__icon--git:hover {
  color: grey;
}

.contact__form {
  width: 45%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1.5px solid black;
  padding: 10px 0;
}

.footer {
  text-align: center;
  padding: 20px 0;
}
/*# sourceMappingURL=style.css.map */