.header
  width: 100%
  height: 450px
  position: relative
.header__img
  width: 100%
  height: 100%
  object-fit: cover
  position: absolute
  z-index: -1
.header__text
  font-size: 5rem
  position: absolute
  top: 20%
  left: 50%
  transform: translate(-50%, -50%)
  color: $orange
  opacity: .9
  letter-spacing: 1px
.header__text--small
  font-size: 1.5rem
  top: 32%
  color:  #0c0c0c
